---
settings:
  private_channels: ['balance', 'position', 'order', 'trade']
...
---
# in bps, negative = rebate
specs:
  IPERP:
    tfee: 
      all: +6
    mfee:
      all: +1
    multi: 1
  PERP:
    tfee:
      all: +6
      # allow exceptions
      # except:
      #   ptypes: 
      #     PERP: 1
      #   pdts: 
      #     BTC_USDT_PERP: 100
    mfee:
      all: +1
  SPOT:
    tfee: 
      all: +10
    mfee:
      all: +10
...
---
adapter:
  pdts: {}
  # > = one-way, only USD -> USDC, but not USDC -> USD
  # ccys>: {
  #   USD: 'USDC'
  # }
  ptypes: {
    # from '/v5/market/instruments-info'
    'PERP': 'LinearPerpetual',
    'IPERP': 'InversePerpetual',
    'FUT': 'LinearFutures',
    'IFUT': 'InverseFutures',
  }
  o_types: {
    'LIMIT': 'Limit',
    'MARKET': 'Market',
  }
  sides: {1: 'Buy', -1: 'Sell', 0: 'None'}
  tifs:
    GTC: 'GoodTillCancel'
    IOC: 'ImmediateOrCancel'
    FOK: 'FillOrKill'
    PO: 'PostOnly'
  # main status = S(Submitted), O(Opened), C(Closed), R(Rejected), M(Missed)
  # filled status = P(Partial), F(Filled)
  # cancel status = S(Submitted), C(Cancelled), R(Rejected), M(Missed)
  # amend status = S(Submitted), A(Amended), R(Rejected), M(Missed)
  o_statuses:
    S---: 'Submitted'
    R---: 'Rejected'
    O---: 'New'
    OP--: 'PartiallyFilled'
    CPC-: 'PartiallyFilledCanceled'
    CF--: 'Filled'
    C-C-: 'Cancelled'
  offset: {}
  px_directions: {
    # internal definitions:
    # PlusTick: ...,
    # ZeroPlusTick: ...,
    # MinusTick: ...,
    # ZeroMinusTick: ...
  }
  public_channels: {
    # 'orderbook': 'orderbook',
    'tradebook': 'publicTrade',
    # 'kline': 'kline',
  }
  private_channels: {
    'trade': 'execution',
    'balance': 'wallet',
  }
  resolutions: {
    '1m': '1',
    '3m': '3',
    '5m': '5',
    '15m': '15',
    '30m': '30',
    '60m': '60',
    '120m': '120',
    '240m': '240',
    '360m': '360',
    '720m': '720',
    '1d': 'D',
    '1w': 'W',
    '1M': 'M'
  }
...