[submodule "trading_app"]
	path = trading_app
	url = git@github.com:PFund-Software-Ltd/trading_app.git
[submodule "ws_server"]
	path = ws_server
	url = git@github.com:PFund-Software-Ltd/ws_server.git
