[workspace]
authors = ["softwareentrepreneer <softwareentrepreneer+pfund@gmail.com>"]
channels = ["conda-forge"]
name = "pfund"
platforms = ["osx-arm64", "linux-64"]
# updating this needs to also update the version in the ci.yml and templates/ci-workflow-template.yml files
requires-pixi = ">=0.62.1"  # command: pixi workspace requires-pixi set ">=0.60

[tasks]


[tasks.test-all]
depends-on = [
  { task = "test", environment = "py311" },
  { task = "test", environment = "py312" },
  { task = "test", environment = "py313" },
]

[dependencies]
python = ">=3.11.14"
uv = ">=0.9.18"

[pypi-dependencies]
pfund = { path = ".", editable = true }
# TEMP
pfeed = { path = "../pfeed", editable = true }
pfolio = { path = "../pfolio", editable = true }
pfund-plot = { path = "../pfund-plot", editable = true }
mtflow = { path = "../mtflow", editable = true }
# pfeed = ">=0.0.5"
# pfolio = ">=0.0.2"
# mtflow = ">=0.0.1.dev2"
rich = ">=14.2.0"
click = ">=8.1.8"
trogon = ">=0.6.0"
platformdirs = ">=4.2.2"
python-dotenv = ">=1.2.1"
pyyaml = ">=6.0.3"
httpx = ">=0.28.1"
websockets = ">=15.0.1"
scikit-learn = ">=1.8.0"
numba = ">=0.63.1"

[environments]
default = ["py311", "dev", "optional"]
py311 = ["py311", "test", "optional"]
py312 = ["py312", "test", "optional"]
py313 = ["py313", "test", "optional"]

[feature.optional.pypi-dependencies]
pfeed = { version = ">=0.0.5", extras = ["duckdb"] }
pfund-plot = { version = ">=0.0.1.dev2", extras = ["marimo"] }
pfund-ibapi = ">=10.39.1"

[feature.optional.dependencies]
ta-lib = ">=0.6.4"

[pypi-options.dependency-overrides]
pfund = { path = ".", editable = true }
# TEMP
pfeed = { path = "../pfeed", editable = true }
pfolio = { path = "../pfolio", editable = true }
pfund-plot = { path = "../pfund-plot", editable = true }
mtflow = { path = "../mtflow", editable = true }

[feature.dev.pypi-dependencies]
afterpython = ">=0.1.1"
pybit = ">=5.12.0"
torch = ">=2.9.0"

[feature.test.pypi-dependencies]
pytest = ">=9.0.2"
pytest-cov = ">=7.0.0"
pytest-mock = ">=3.15.1"
pytest-xdist = ">=3.8.0"
pytest-asyncio = ">=1.3.0"
pytest-recording = ">=0.13.4"
testcontainers = ">=4.13.3"
[feature.test.tasks]
test = "pytest"
test-new = "pytest --record-mode=all"  # record new interactions, useful to update recordings in case data formats returned have changed
test-ci = "pytest --record-mode=none"  # fail a test if no recording is found

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"
