[workspace]
authors = ["softwareentrepreneer <softwareentrepreneer+pfund@gmail.com>"]
channels = ["conda-forge"]
name = "pfund"
platforms = ["osx-arm64", "linux-64"]
# updating this needs to also update the version in the ci.yml and templates/ci-workflow-template.yml files
requires-pixi = ">=0.63.2"  # command: pixi workspace requires-pixi set ">=0.63.2"

[tasks]

[tasks.test-all]
depends-on = [
  { task = "test", environment = "py311" },
  { task = "test", environment = "py312" },
  { task = "test", environment = "py313" },
]

[environments]
default = ["py311", "dev", "optional"]
py311 = ["py311", "test", "optional"]
py312 = ["py312", "test", "optional"]
py313 = ["py313", "test", "optional"]

[dependencies]
python = ">=3.11.14"
uv = ">=0.9.28"

[pypi-dependencies]
# TEMP
pfeed = { path = "../pfeed", editable = true, extras = ["duckdb"] }
pfolio = { path = "../pfolio", editable = true }
pfund-kit = { path = "../pfund-kit", editable = true }
# pfeed = { version = ">=0.0.5", extras = ["duckdb"] }
# pfolio = ">=0.0.2"
# pfund-kit = ">=0.1.3"
numba = ">=0.63.1"
httpx = ">=0.28.1"
websockets = ">=15.0.1"

[feature.optional.pypi-dependencies]
pfund-ibapi = ">=10.42.1"
[feature.optional.dependencies]
ta-lib = ">=0.6.4"

# TEMP
[pypi-options.dependency-overrides]
pfund = { path = ".", editable = true }
pfeed = { path = "../pfeed", editable = true, extras = ["duckdb", "yfinance", "hf"] }
pfolio = { path = "../pfolio", editable = true }
pfund-kit = { path = "../pfund-kit", editable = true }

[feature.dev.pypi-dependencies]
pfund = { path = ".", editable = true }
afterpython = ">=0.2.0"
# TEMP
pfund-plot = { path = "../pfund-plot", editable = true, extras = ["marimo", "jupyter"] }
mtflow = { path = "../mtflow", editable = true }
# pfund-plot = {version = ">=0.0.1.dev3", extras = ["marimo", "jupyter"]}
# mtflow = ">=0.0.1.dev2"
pybit = ">=5.13.0"
torch = ">=2.10.0"
scikit-learn = ">=1.8.0"
mlflow = ">=3.9.0"
trackio = ">=0.15.0"
optuna = ">=4.7.0"
optuna-dashboard = ">=0.20.0"

[feature.test.pypi-dependencies]
pytest = ">=9.0.2"
pytest-cov = ">=7.0.0"
pytest-mock = ">=3.15.1"
pytest-xdist = ">=3.8.0"
pytest-asyncio = ">=1.3.0"
pytest-recording = ">=0.13.4"
testcontainers = ">=4.13.3"
[feature.test.tasks]
test = "pytest"
test-new = "pytest --record-mode=all"  # record new interactions, useful to update recordings in case data formats returned have changed
test-ci = "pytest --record-mode=none"  # fail a test if no recording is found

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"
