[tool.poetry]
name = "pfund"
version = "0.0.2"
description = "A Complete Algo-Trading Framework for Machine Learning, enabling trading across TradFi, CeFi and DeFi. Supports Vectorized and Event-Driven Backtesting, Paper and Live Trading"
license = "Apache-2.0"
authors = ["Stephen Yau <softwareentrepreneer+pfund@gmail.com>"]
readme = "README.md"
homepage = "https://pfund.ai"
repository = "https://github.com/PFund-Software-Ltd/pfund"
documentation = "https://pfund-docs.pfund.ai"
keywords = ["trading", "algo-trading", "stocks", "cryptos", "cryptocurrencies", "TradFi", "CeFi", "DeFi", "portfolio management", "investment", "backtesting", "machine learning"]
classifiers = [
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Information Technology",
    "Topic :: Office/Business :: Financial :: Investment",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
include = ['logging.yml', 'docker-compose.yml']

[tool.poetry.dependencies]
python = "^3.10"
rich = "^13.7.1"
tqdm = "^4.66.2"
click = "^8.1.7"
pyyaml = "^6.0.1"
duckdb = "^1.0.0"
trogon = "^0.6.0"
orjson = "^3.10.1"
joblib = "^1.4.2"
ipython = "^8.23.0"
pydantic = "^2.7.0"
requests = "^2.31.0"
schedule = "^1.2.2"
gitpython = "^3.1.43"
platformdirs = "^4.3.6"
python-dotenv = "^1.0.1"
websocket-client = "^1.8.0"
python-telegram-bot = "^21.5"
pfeed = {extras = ["core"], version = "^0.0.2"}
pfolio = {extras = ["all"], version = "^0.0.2", optional = true}
pfund-plot = {extras = ["all"], version = "^0.0.1.dev2", optional = true}
pyzmq = {version = "^26.2.0", optional = true}
redis = {extras = ["hiredis"], version = "^5.1.1", optional = true}
voila = {version = "^0.5.7", optional = true}
papermill = {version = "^2.6.0", optional = true}
scikit-learn = {version = "^1.5.2", optional = true}
torch = {version = "^2.4.1", optional = true}
mlflow = {version = "^2.16.1", optional = true}
feast = {version = "^0.40.1", optional = true}
ta = { version = "^0.11.0", optional = true }
tsfresh = {version = "^0.20.3", optional = true}
optuna = {version = "^4.0.0", optional = true}

[tool.poetry.extras]
data = ["pfeed", "pyzmq", "redis"]
ml = ["scikit-learn", "torch", "mlflow"]
fe = ["feast", "ta", "tsfresh"]
stats = ["pfolio", "papermill", "voila"]
train = ["pfund-plot", "optuna"]
all = [
    "pfeed", "pyzmq", "redis",
    "scikit-learn", "torch", "mlflow", 
    "feast", "ta", "tsfresh", 
    "pfolio", "papermill", "voila", 
    "pfund-plot", "optuna",
]

[tool.poetry.scripts]
pfund = "pfund.main:run_cli"
pf = "pfund.main:run_cli"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pfeed = {extras = ["core"], path = "../pfeed", develop = true}
pfolio = {extras = ["all"], path = "../pfolio", develop = true}
pfund-plot = {extras = ["all"], path = "../pfund-plot", develop = true}
pybit = "^5.8.0"
ta-lib = "^0.4.32"
mypy = "^1.11.2"
ruff = "^0.6.9"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^8.3.3"
pytest-cov = "^5.0.0"
pytest-mock = "^3.14.0"
pytest-xdist = "^3.6.1"
tox = "^4.21.2"
faker = "^30.1.0"
bandit = "^1.7.10"
pre-commit = "^4.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
