[tool.poetry]
name = "pfund"
version = "0.0.1.dev8"
description = "A Complete Algo-Trading Framework for Machine Learning, enabling trading across TradFi, CeFi and DeFi. Supports Vectorized and Event-Driven Backtesting, Paper and Live Trading"
license = "Apache-2.0"
authors = ["Stephen Yau <softwareentrepreneer+pfund@gmail.com>"]
readme = "README.md"
homepage = "https://pfund.ai"
repository = "https://github.com/PFund-Software-Ltd/pfund"
documentation = "https://pfund-docs.pfund.ai"
keywords = ["trading", "algo-trading", "stocks", "cryptos", "cryptocurrencies", "TradFi", "CeFi", "DeFi", "portfolio management", "investment", "backtesting", "machine learning"]

[tool.poetry.dependencies]
python = ">=3.10 <3.13"
python-dotenv = "^1.0.1"
pyyaml = "^6.0.1"
tqdm = "^4.66.2"
rich = "^13.7.0"
click = "^8.1.7"
schedule = "^1.2.1"
platformdirs = "^4.2.0"
requests = "^2.31.0"
websocket-client = "^1.7.0"
python-telegram-bot = "^20.7"
gitpython = "^3.1.43"
pfeed = { version = "^0.0.1.dev8", optional = true, extras=["df", "data", "boost"] }
psutil = { version = "^5.9.8", optional = true }
orjson = { version = "^3.9.14", optional = true }
pyzmq = { version = "^25.1.2", optional = true }
ta = { version = "^0.11.0", optional = true }
scikit-learn = { version = "^1.4.0", optional = true }
torch = { version = "^2.1.2", optional = true }
mlflow = { version = "^2.11.3", optional = true }

[tool.poetry.extras]
data = ["pfeed", "psutil", "orjson", "pyzmq"]
ml = ["ta", "scikit-learn", "torch", "mlflow"]

[tool.poetry.scripts]
pfund = "pfund.main:run_cli"

[tool.poetry.group.dev.dependencies]
pfeed = {path = "../pfeed", develop = true}
pybit = "^5.6.2"
ta-lib = "^0.4.28"
pytest = "^8.0.0"
pre-commit = "^3.6.1"
bandit = "^1.7.7"
grayskull = "^2.5.3"
pytest-xdist = "^3.5.0"
faker = "^24.4.0"
tox = "^4.14.2"
mypy = "^1.9.0"
ruff = "^0.3.5"
pytest-mock = "^3.14.0"
pytest-cov = "^5.0.0"

[tool.poetry.group.doc.dependencies]
jupyter-book = "^1.0.0"
notebook = "^7.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
